AccessControl==7.2
Acquisition==6.1
annotated-types==0.7.0
anyio==4.10.0
asttokens==3.0.0
async-timeout==5.0.1
atpublic==5.1
AuthEncoding==6.0
babel==2.16.0
backoff==2.2.1
barcodenumber==0.5.0
beautifulsoup4==4.12.3
bleach==6.2.0
bleach-allowlist==1.0.3
boto3==1.40.21
botocore==1.40.21
Brotli==1.1.0
BTrees==6.1
CacheControl==0.14.3
cachetools==5.5.2
cairocffi==1.5.1
certifi==2025.8.3
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
-e git+ssh://git@github.com/dhwani-ris/frappe_coro_india_glodp.git@c49e3bf6908916bae2d3259b2f37fb418ba67fb3#egg=coro_india
croniter==6.0.0
cryptography==45.0.6
cssselect==1.3.0
cssselect2==0.8.0
cssutils==2.11.1
dataclasses-json==0.6.7
DateTime==5.5
decorator==5.2.1
-e git+ssh://git@github.com/dhwani-ris/frappe_dhwani_base.git@b0b8307c7b2b263cdf4603f046088f270b2d0a48#egg=dhwani_frappe_base
-e git+ssh://git@github.com/dhwani-ris/dhwani_hrms.git@ddc3cfa0ad197f311db10cbba8d2c5aece84eb17#egg=dhwani_hrms
distlib==0.4.0
distro==1.9.0
docopt==0.6.2
duckdb==1.1.3
-e git+https://github.com/frappe/education.git@8e8c1f77205e192946971c1f8da2e48211764e0a#egg=education
email-reply-parser==0.5.12
-e git+https://github.com/frappe/erpnext.git@06a999ebaa3e33fa4899a8847c0964e5ac005500#egg=erpnext
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.0
ExtensionClass==6.0
feedparser==6.0.11
filelock==3.18.0
filetype==1.2.0
firebase_admin==7.1.0
fonttools==4.59.2
-e git+ssh://git@github.com/dhwani-ris/frappe.git@6d6722e70fe24fd186dc087acffbb6964d0be64a#egg=frappe
-e git+ssh://git@github.com/dhwani-ris/frappe_ai_connect.git@8dbcc23d60ab7d6bdc513ecf772e4be51abdb38b#egg=frappe_ai_connect
-e git+ssh://git@github.com/dhwani-ris/frappe_desk_theme.git@c376f2bd92ea06ac3149f4c85c87c4d5449c3bcc#egg=frappe_desk_theme
-e git+ssh://git@github.com/dhwani-ris/frappe_fcm_notification.git@6c0bf8209099c2cbf3a0dd59fb34df746fe4f634#egg=frappe_fcm_notification
-e git+ssh://git@github.com/dhwani-ris/frappe_msg91_integration.git@99b98239dd22e4667d9f61da61d60e75c330d019#egg=frappe_msg91_integration
-e git+ssh://git@github.com/dhwani-ris/frappe_pcat_assessment.git@7d03e0c585c4831196a676ced5db9e9cb5dfa8e4#egg=frappe_pcat_exam
-e git+ssh://git@github.com/dhwani-ris/frappe_permission_manager.git@83ed38ea02ebfd6848dddd2df9ae20e1e05b677b#egg=frappe_permission_manager
# Editable Git install with no remote (frappe_qr_code_generator==0.0.1)
-e /home/ncoder/Desktop/frappe-bench/apps/frappe_qr_code_generator
-e git+ssh://git@github.com/dhwani-ris/frappe-attachments-s3.git@96bfcf71cedd0b751e4d43436ebd239bcd06fed2#egg=frappe_s3_attachment
# Editable Git install with no remote (frappe_shortner==0.0.1)
-e /home/ncoder/Desktop/frappe-bench/apps/frappe_shortner
fuzzywuzzy==0.18.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.25.1
google-api-python-client==2.172.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.3.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
googlemaps==4.10.0
greenlet==3.2.4
grpcio==1.74.0
grpcio-status==1.74.0
gunicorn @ git+https://github.com/frappe/gunicorn@bb554053bb87218120d76ab6676af7015680e8b6
h11==0.16.0
h2==4.3.0
hiredis==3.2.1
holidays==0.79
hpack==4.1.0
-e git+https://github.com/frappe/hrms.git@2c00cf8dae2b1ef177cd26199b0f38621e730953#egg=hrms
html5lib==1.1
httpcore==1.0.9
httplib2==0.30.0
httpx==0.28.1
hyperframe==6.1.0
ibis-framework==9.5.0
identify==2.6.13
idna==3.10
-e git+https://github.com/frappe/insights.git@bbbc1c9c008c8028a1b2208689402ffd926f33e7#egg=insights
ipython==8.37.0
isodate==0.7.2
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
ldap3==2.9.1
-e git+https://github.com/frappe/lms.git@cf40f4e525f54a89794a1dabed9e32fbac3191f2#egg=lms
lxml==4.9.4
Markdown==3.5.2
markdown-it-py==4.0.0
markdown2==2.5.4
markdownify==1.1.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
msgpack==1.1.1
mt-940==4.30.0
multipart==1.3.0
mypy_extensions==1.1.0
mysqlclient==2.2.7
-e git+https://github.com/frappe/newsletter.git@31bdba39d2b4ec9e87a4058109125abfa603d4bd#egg=newsletter
nodeenv==1.9.1
num2words==0.5.14
numpy==2.2.6
oauthlib==3.2.2
openpyxl==3.1.5
orjson==3.10.18
packaging==24.2
pandas==2.2.3
parso==0.8.5
parsy==2.1
passlib==1.7.4
pdfkit==1.0.0
Persistence==5.1
persistent==6.1.1
pexpect==4.9.0
phonenumbers==9.0.13
-e git+https://github.com/pibico/pibicut.git@b1b77ce24c87d9e5e962005ac3daeaa78cb04e35#egg=pibicut
pillow==11.3.0
plaid-python==7.2.1
platformdirs==4.4.0
posthog==5.0.0
pre_commit==4.3.0
premailer==3.10.0
prompt_toolkit==3.0.52
proto-plus==1.26.1
protobuf==6.32.0
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycountry==24.6.1
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydyf==0.11.0
Pygments==2.19.2
PyJWT==2.10.1
PyMySQL==1.1.1
pyOpenSSL==25.1.0
pyotp==2.9.0
pyparsing==3.2.3
pypdf==6.0.0
pyphen==0.17.2
PyPika @ git+https://github.com/frappe/pypika@093984977ce157d35e048c51d9ff55a1f0f44570
pypng==0.20220715.0
PyQRCode==1.2.1
python-dateutil==2.9.0.post0
python-gettext==5.0
python-magic==0.4.18
python-stdnum==2.1
python-telegram-bot==21.4
python-youtube==0.9.8
pytz==2025.2
PyYAML==6.0.2
qrcode==8.2
RapidFuzz==3.12.2
rauth==0.7.3
razorpay==1.4.2
redis==6.2.0
regex==2025.8.29
requests==2.32.5
requests-oauthlib==2.0.0
RestrictedPython==8.0
rich==13.9.4
rq==2.4.0
rsa==4.9.1
s3transfer==0.13.1
semantic-version==2.10.0
sentry-sdk==1.45.1
sgmllib3k==1.0.0
-e git+ssh://git@github.com/dhwani-ris/frappe_shortnr.git@548aa2cec086a34622189fdc3bac921461d6551d#egg=shortnr
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
-e git+ssh://git@github.com/dhwani-ris/frappe_sphereindia.git@f74fa6534603d6e9b27820ebe2201a2a9784494c#egg=sphere_india_sitrep
sql_metadata==2.17.0
SQLAlchemy==2.0.22
sqlglot==25.20.2
sqlparse==0.5.3
stack-data==0.6.3
tenacity==9.1.2
terminaltables==3.1.10
tinycss2==1.4.0
-e git+ssh://git@github.com/dhwani-ris/frappe_tmf.git@64ffe7c2514d47ca303b397e3b900bada45b042c#egg=tmf
tomli==2.2.1
toolz==0.12.1
traceback-with-variables==2.2.0
traitlets==5.14.3
transaction==5.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.5.0
uuid_utils==0.11.0
virtualenv==20.34.0
vobject==0.9.9
wcwidth==0.2.13
weasyprint==59.0
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.1.3
Whoosh==2.7.4
xlrd==2.0.2
zExceptions==5.0
zope.browser==3.1
zope.component==6.0
zope.configuration==6.0
zope.contenttype==5.2
zope.deferredimport==5.1
zope.deprecation==5.1
zope.event==5.1.1
zope.exceptions==5.2
zope.hookable==7.0
zope.i18n==5.3
zope.i18nmessageid==7.0
zope.interface==7.2
zope.location==5.1
zope.proxy==6.1
zope.publisher==7.3
zope.schema==7.1
zope.security==7.3
zope.testing==5.1
zopfli==0.2.3.post1
zxcvbn==4.5.0
